@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';


.container {
    background-image: url(../../assets/images/SaleBanner.jpg);
    height: 409px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 110%;
}

.containerTimer {
    @include flex_box_custom(center, center, 10px);
}

.title {
    color: $yl_color;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 800;
    -webkit-text-stroke: 0.5px $white_color;
}

.boxBtn {
    width: 172px;
    margin-top: 20px;
    margin: 20px auto;
    text-align: center;
}