@import '@styles/variables.module.scss';
@import '@styles/mixin.module.scss';

.container {
    margin: 65px 0px 15px;
    @include flex_box_custom(center, center, 0px);
}

.headline {
    height: 2px;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 30px;
}

.containerMiddleBox {
    padding: 0px 40px;
    width: 90%;
    @include flex_box_custom(center, center, 0px);
    flex-direction: column;
    line-height: 0;
}

.des {
    font-size: 14px;
    color: $thr_color;
    text-transform: uppercase;
}

.title {
    font-size: 24px;
    color: $primary_color;
}